<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Code_Automation_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
        <Code_Automation_Tool.Properties.Settings>
            <setting name="Code_Tab_Size" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Project_Name" serializeAs="String">
                <value>Test_Project</value>
            </setting>
            <setting name="Generate_Doxygen_Comments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Code_Include_Directory_Name" serializeAs="String">
                <value>inc</value>
            </setting>
            <setting name="Code_Source_Directory_Name" serializeAs="String">
                <value>src</value>
            </setting>
            <setting name="Code_Author" serializeAs="String">
                <value>Intel</value>
            </setting>
            <setting name="Code_Reserved_Keyword" serializeAs="String">
                <value>Resrvd</value>
            </setting>
            <setting name="License_Message" serializeAs="String">
                <value>/*******************************************************************************
 *	      								         *
 * License Agreement	      							 *
 *	      									 *
 *	      									 *
 * Copyright (c) 2017, Intel Corporation                                       *     
 * 										 *
 * Redistribution and use in source and binary forms, with or without   	 *
 * modification, are permitted provided that the following conditions are met:	 *
 * 										 *
 *     * Redistributions of source code must retain the above copyright notice,  *
 *       this list of conditions and the following disclaimer.			 *
 *     * Redistributions in binary form must reproduce the above copyright	 *
 *       notice, this list of conditions and the following disclaimer in the	 *
 *       documentation and/or other materials provided with the distribution.	 *
 *     * Neither the name of Intel Corporation nor the names of its contributors *
 *       may be used to endorse or promote products derived from this software	 *
 *       without specific prior written permission.				 *
 * 										 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"	 *
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE	 *
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE *
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE	 *
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL	 *
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR	 *
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER	 *
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, *
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE *
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.		 *
 ******************************************************************************/</value>
            </setting>
        </Code_Automation_Tool.Properties.Settings>
    </userSettings>
</configuration>